REACT_APP_CHAIN_ID=1
REACT_APP_PEER_URL=https://peer.decentraland.org
REACT_APP_BUILDER_URL=https://builder.decentraland.org
REACT_APP_EXPLORER_URL=https://play.decentraland.org

# Subgraphs
REACT_APP_MATIC_ROOT_CHAIN_SUBGRAPH=https://api.thegraph.com/subgraphs/name/maticnetwork/mainnet-root-subgraphs

# Contracts

REACT_APP_MANA_CONTRACT_ADDRESS=
REACT_APP_ERC20_PREDICATE=
REACT_APP_ROOT_CHAIN_MANAGER=


# Third Party
REACT_APP_SEGMENT_API_KEY=
REACT_APP_INTERCOM_APP_ID=
