.AccountCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-right: 50px;
}
@media (max-width: 991px) {
  .AccountCardContainer {
    padding-left: 50px;
  }
}
@media (max-width: 768px) {
  .AccountCardContainer {
    padding: 0;
    flex-direction: column;
  }
}
