.WithdrawalStatusModal {
  padding: 48px 80px;
}

.WithdrawalStatusModal .ui.modal {
  width: 520px;
  height: 518px;
}

.WithdrawalStatusModal .header {
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.3px;
  color: #16141A;
}

.WithdrawalStatusModal .amount_placeholder, .WithdrawalStatusModal .status_placeholder {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #736E7D;
}

.WithdrawalStatusModal .status_checkpoint_placeholder {
  font-size: 15px;
  line-height: 18px;
  color: #736E7D;
  margin-left: 34px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.WithdrawalStatusModal .amount {
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  letter-spacing: 0.315px;
  color: #16141A;
  padding-bottom: 40px;
}

/* Overwrites some <a> styles that are affecting the component */
.WithdrawalStatusModal .scan_link {
  font-weight: unset;
  color: unset;
}

.WithdrawalStatusModal .scan_link > i {
  position: relative;
  bottom: 2px;
  margin-left: .5rem;
  color: var(--primary);
}

.WithdrawalStatusModal .status {
  display: flex;
  flex-direction: column;
}

.WithdrawalStatusModal .default_cursor.ui.checkbox,
.WithdrawalStatusModal .default_cursor.ui.checkbox input.hidden + label, 
.WithdrawalStatusModal .default_cursor.ui.checkbox input.hidden:focus + label, 
.WithdrawalStatusModal .default_cursor.ui.checkbox input.hidden:active + label {
  cursor: default;
}

.ui.checkbox input.hidden + label, 
.ui.checkbox input.hidden:focus + label, 
.ui.checkbox input.hidden:active + label {
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #16141A;
  margin: 8px 0px;
  padding: 0px 0px 0px 34px
}

.ui.radio.checkbox.yellow_check.checked input.hidden + label::before, .ui.radio.checkbox.yellow_check.checked input.hidden:focus + label::before, .ui.radio.checkbox.yellow_check.checked input.hidden + label::after, .ui.radio.checkbox.yellow_check.checked input.hidden:focus + label::after {
    background-color: var(--danger);
    border: 2px solid var(--danger);
}
.WithdrawalStatusModal .ui.button.primary {
  margin-top: 48px;
  width: 100%;
}
