.WithdrawalStatusModal {
  padding: 48px 80px;
}

.WithdrawalStatusModal .withdrawal_cost {
  font-size: 14px;
  color: var(--text);
  margin-top: 20px;
  padding: 10px;
  background-color: rgb(100, 98, 98);
  border-radius: 6px;
}

.WithdrawalStatusModal .withdrawal_cost_loader {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WithdrawalStatusModal .ui.modal {
  width: 520px;
  height: 518px;
}

.WithdrawalStatusModal .header {
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.3px;
  color: var(--text);
}

.WithdrawalStatusModal .amount_placeholder,
.WithdrawalStatusModal .status_placeholder {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #736e7d;
}

.WithdrawalStatusModal .amount {
  font-weight: 600;
  font-size: 21px;

  color: var(--text);
  padding-top: 10px;
  padding-bottom: 10px;
}

.WithdrawalStatusModal .status {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.WithdrawalStatusModal .ui.button.primary {
  margin-top: 48px;
  width: 100%;
}
