.AccountCardHeader {
  padding: 22px;
  border-bottom: 1px solid #736e7d3d;
}

.AccountCardHeader .title {
  font-size: 21px;
  line-height: 28px;
  margin-bottom: 10px;
}

.AccountCardHeader .operation-menu {
  font-size: 24px;
  float: right;
  margin-top: -35px;
}

.AccountCardHeader .operation-menu .MuiButton-root {
  min-width: auto;
  padding: 4px 8px;
  color: #fcfcfc;
  background-color: transparent;
}

.AccountCardHeader .fundsContainer {
  display: flex;
  flex-direction: column;
}

.AccountCardHeader .funds {
  flex-grow: 1;
}

.AccountCardHeader .funds .amount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 34px;
  font-weight: 600;
  line-height: 42px;
}

.AccountCardHeader .funds .amount .mana-logo {
  width: 24px;
  height: 28px;
  background-image: url('../../../../images/mana-red-logo.svg');
}

.AccountCardHeader .funds .amount .matic-logo {
  width: 24px;
  height: 24px;
  background-image: url('../../../../images/matic-logo.svg');
}

.AccountCardHeader .funds .amount :first-child {
  margin-right: 10px;
}

.AccountCardHeader .actions {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
}

.AccountCardHeader .actions button,
.AccountCardHeader .actions .MuiButton-root {
  padding: 0px 16px;
  font-size: 13px;
  height: 44px;
  min-width: 96px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.08);
  color: #fcfcfc;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 8px;
}

.AccountCardHeader .actions button:hover,
.AccountCardHeader .actions .MuiButton-root:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.AccountCardHeader .add-mana-icon {
  background-image: url(../../../../images/add-mana-icon.svg);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 4px;
}

.AccountCardHeader .title-text-container {
  display: flex;
}

.title-text-container:hover .info-logo {
  opacity: 1;
}

.AccountCardHeader .info-logo {
  opacity: 0;
  cursor: pointer;
  margin: 3px;
  width: 24px;
  height: 24px;
  background-image: url('../../../../images/info.svg');
}
