.AccountCard {
  flex-grow: 1;
  background-color: #ffffff17 !important;
  border: 1px solid rgba(0, 0, 0, 0.04) !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08) !important;
  border-radius: 12px !important;
  min-width: 350px;
  margin: 0 12px 12px 0;
}

.AccountCard:last-child {
  margin-right: 0;
}

.AccountCard:hover .see-all {
  color: var(--primary);
  opacity: 1;
}

.AccountCard .see-all {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  text-transform: uppercase;
  margin-right: 40px;
  margin-top: 23px;
  float: right;
  opacity: 0;
  cursor: pointer;
}

@media (max-width: 768px) {
  .AccountCard {
    margin: 0 0 12px 0;
  }
}

@media (max-width: 480px) {
  .AccountCard {
    min-width: auto;
  }
}
