.ReceiveManaModal.MuiDialog-root {
  width: 520px;
  height: 278px;
}

.ReceiveManaModal .title {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.3px;
}

.ReceiveManaModal .message {
  text-align: center;
  margin-bottom: 49px;
}

.ReceiveManaModal.MuiDialog-root > .header:not(.ui) {
  text-align: center;
}

.ReceiveManaModal .DescriptionStatus {
  width: 450px;
}

.ReceiveManaModal.MuiDialog-root > .content {
  text-align: center;
  padding: 0px 40px;
}

.ReceiveManaModal .field-wrapper {
  min-width: 360px;
}

.SendManaModal .dcl.close,
.MuiDialog-root > .dcl.close {
  margin-top: -20px;
  margin-right: -20px;
  padding: 0px;
}

.ReceiveManaModal.MuiDialog-root .field input {
  padding: 16px 16px;
  background: #f3f2f5;
  border: 1px solid rgba(115, 110, 125, 0.32);
  box-sizing: border-box;
  border-radius: 8px;
}

.ReceiveManaModal .field-wrapper .overlay,
.field-wrapper .overlay {
  bottom: 37px;
  text-transform: uppercase;
}

.ReceiveManaModal .field-wrapper .overlay,
.field-wrapper .overlay {
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  padding-right: 8px;
}
