name: Audit

on: [push, pull_request]

jobs:
  audit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 18.x
        uses: actions/setup-node
        with:
          node-version: 18
          cache: 'npm'
      - name: Install
        run: npm install --legacy-peer-deps
      - name: Audit signatures
        run: npm audit signatures
