name: CI

on: [push, pull_request]

jobs:
  Build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Use Node.js 14.x
        uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - name: Install
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: cp .ci/.env.dev .env
        run: npm test
